@tailwind base;
@tailwind components;
@tailwind utilities;


.loginpage{
    background-image: url("../src/assets/loginbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
 background-position: left;  


}
.loginblur{
    background-color: rgba(58, 58, 220, 0.881);
width: 100%;
    height: 100%;
   
}

.home{
    width: 100%;
    height: 100%; 
}
.hero{
    background: url("../src/assets/homebg.avif");
    width: 100%;
    height: 80vh;
}
.herolayer{
    background-color:rgba(18, 92, 189, 0.492) ;
    width: 100%;
    height: 80vh;
}
.cardbg{

   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   
}
.cardbtn{
    background-color: rgba(255, 255, 255, 0.291);
   
}
.cardbtn:hover{
    background-color: rgba(255, 255, 255, 0.492);
   
}

/* loader */


.loader {
    position: relative;
    width: 2.5em;
    height: 2.5em;
    transform: rotate(165deg);
   }
   
   .loader:before, .loader:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0.5em;
    height: 0.5em;
    border-radius: 0.25em;
    transform: translate(-50%, -50%);
   }
   
   .loader:before {
    animation: before8 2s infinite;
   }
   
   .loader:after {
    animation: after6 2s infinite;
   }
   
   @keyframes before8 {
    0% {
     width: 0.5em;
     box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
    }
   
    35% {
     width: 2.5em;
     box-shadow: 0 -0.5em rgba(225, 20, 98, 0.75), 0 0.5em rgba(111, 202, 220, 0.75);
    }
   
    70% {
     width: 0.5em;
     box-shadow: -1em -0.5em rgba(225, 20, 98, 0.75), 1em 0.5em rgba(111, 202, 220, 0.75);
    }
   
    100% {
     box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
    }
   }
   
   @keyframes after6 {
    0% {
     height: 0.5em;
     box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
    }
   
    35% {
     height: 2.5em;
     box-shadow: 0.5em 0 rgba(61, 184, 143, 0.75), -0.5em 0 rgba(233, 169, 32, 0.75);
    }
   
    70% {
     height: 0.5em;
     box-shadow: 0.5em -1em rgba(61, 184, 143, 0.75), -0.5em 1em rgba(233, 169, 32, 0.75);
    }
   
    100% {
     box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
    }
   }
   
   .loader {
    position: absolute;
    top: calc(50% - 1.25em);
    left: calc(50% - 1.25em);
   }


   @media screen and (max-width: 800px) {
    .hamburger{
        background-color: #235583e2;
        position: absolute;
        /* top: 0;
        right: 0; */
        height: 80vh;
       color: white;
       font-weight: 500;
     padding: 10px;
     
        
    }
    .hamburger-ul{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 25px;
    position: absolute;
    }
    .hamburger-button{
        display: block;
    }
  }
